@model JulianTorres_ExamenP1.Models.JTTabla

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JTTabla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JTTablaObjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JTTablaObjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JTCostoBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JTCostoBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JTALaVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JTALaVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JTEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JTEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JTFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JTFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JTPVP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JTPVP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JTTablaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
