@model IEnumerable<JulianTorres_ExamenP1.Models.JTTabla>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JTTablaObjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JTCostoBruto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JTALaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JTEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JTFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JTPVP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JTTablaObjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JTCostoBruto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JTALaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JTEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JTFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JTPVP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JTTablaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JTTablaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JTTablaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
