@model IEnumerable<JulianTorres_ExamenP1.Models.JTTabla>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JTTablaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JTTablaValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JTIsTabla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JTEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JTFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JTTablaPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JTTablaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JTTablaValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JTIsTabla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JTEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JTFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JTTablaPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JTTablaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JTTablaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JTTablaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
